/*media query for mobile*/

@media screen and (min-width: 750px) {
  #container {
    width: 50%;
    height: 100%;
  }

  #about figure{
  /*float: left;*/
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  margin: 0.5em;
  padding: 0.5em;
  position: relative;
}


  #about .image-caption-text{
  	margin-top: 10px;
    margin-left: -30px;
  }

  figure .figcaption{
  	position: relative;
  	color: rgb(91, 91, 91);
  	float: center;
  	font-style: italic;
  	font-size: 1.125em;
  	text-align: center;
  	width: 300px;
  }

  #about, aside {
	padding: 20px 0;
}

  #about {

  }

  aside {
    width: 32%;
    height: 800px;
  }

  aside figure img {
    width: 45%;
    margin: 0 auto;
  }

  aside h2 {
    padding-bottom: 15px;
  }
}

/*reset*/
*, html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1rem;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import "compass";
@import "breakpoint";
@import url('../css/fonts.css');

html, body{
  box-sizing: border-box;
}

:root{
/* -- font families -- */

--PatuaOne: 'PatuaOne', serif;
--Montserrat: 'Montserrat', serif;

/* -- reference colors -- */

--white: #ffffff;
--black: #000000;
--light-gray: #636363;
--bg-color: #ffffff;
--dark-gray: #262626;

/* -- gradient colors --*/

--glass: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

/* -- styles -- */
a{
  text-decoration: none;
  color: var(--text-gray);
}

.flex-row{
  display: flex;
  flex-flow: row wrap;
}

ul{
  list-style-type: none;
}

h1{
  display: flex;
  width: 20%
  height: 50rem;
  /*font-family: var(--PatuaOne);*/
  font-size: 2.5rem;
}

h2{
  display: flex;
  text-align: center;
  text-decoration: italic;
  padding-top: 10%;
  padding-left: 20%;
  padding-bottom: 5rem;
  font-family: var(--Montserrat);
  font-size: 2.1rem;
  color: var(--black);
}
h3{
  font-family: var(--Montserrat);
  font-size: 1.1rem;
  color: var(--white);
}

h4{
  text-align: center;
  font-family: var(--Montserrat);
  font-size: 1.5rem;
  color: var(--black);
}
button.btn{
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: var(--Montserrat);
  cursor: pointer;
}


.navIcon{
  display: none;
}

/*--navigation--*/
/* .nav{
  background: white;
  position: relative;
  z-index: 999;
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
} */

.about-content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  font-family: var(--Montserrat);
  font-size: 1.1rem;
}

#about figure img{
  width: 75%;
}

.nav .nav-menu{
  justify-content: space-around;
  align-items: center;
  background-color: rgb(219, 219, 219);
}

.nav .nav-items{
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link{
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--Montserrat);
  font-size: 1.1rem;
  color: var(--black);
}
.nav .nav-items .nav-link:hover{
  background-color: #ffffff;
}
.nav .nav-items .nav-link:hover a{
  color: #2b9cb4;
}

.nav .nav-brand a{
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block;
  font-family: var(--PatuaOne);
  font-size: 2.5rem;
  color: var(--black);
}

.nav-brand img {
  width: 40%;
}

.nav .social{
  padding: 1.4rem 0;
  z-index: 1000;
}

.nav .social i{
  padding: 0 .2rem;
  color: var(--black);
  font-size: 1.8rem;
}

.nav .social i:hover{
  color: #e0001e;
}

/*---- site title ----*/
main .site-title{
  background: url('https://i.ibb.co/KDQQmkd/IMG-5292.jpg');
  background-size: cover;
  height: 50rem;
  justify-content: center;
}

main .site-title .site-background{
  background: url('https://www.dropbox.com/s/kr1ptl3k429fy0r/tcg_1.JPG?dl=0');
  padding-top: 10rem;
  text-align: center;
  color: var(--white);
}

main .site-title h1, h3{
  margin: .3rem;
  padding-top: 2.1rem;
  text-align: center;
  color: var(--white);
  text-shadow: 2px 2px #000000;
}

main .site-title .btn{
  margin: auto;
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  background: var(--glass);
  color: var(--dark-gray);
}

main .site-title .btn:hover{
  background: var(--dark-gray);
  border: 2px solid var(--black);
  color: var(--white);
}
/*--x-- site title --x--*/

main .header h1{
  padding-top:2rem;
  padding-bottom:3.5rem;
  font-weight: lighter;
  text-align: center;
  font-family: var(--PatuaOne);
}

/* slideshow gallery from w3schools, wip*/
* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: 50%;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-top: 60%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.sticky-footer{
  position: sticky;
  padding-right: 1.5rem;
  padding-bottom: .5rem;
  top: 100%;
  z-index: 99;
  color: #636363;
  text-align: center;
}
/*---*/

@media screen and (max-width: 480px) {
  .element {
    overflow: hidden;
  }

  .element #navLink {
    display: none;
  }

  .element li a {
    display: block;
  }

  .element a.navIcon {
    right: 20px;
    position: absolute;
    display: block;
    top: 25px;
  }

  .navIcon {
    display: block !important;
  }

  .nav .nav-items {
    display: none;
  }

  .nav-brand {
    width: 10%;
  }
  .nav-brand a img {
    width: 100%;
  }

  .about-content {
    display: block;
  }
}

/* contact */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

/* submit button */
input[type=submit] {
  background-color: #383773;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ffffff;
    color: Black;
}

/*  background color padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20%;
  max-width: 1100px;
	margin: 0 auto;
}

/*services cards*/

/@import "compass";
@import "breakpoint";*/

.cards {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 15px;
	padding: 1.5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.card {
	@media (max-width: 700px) {
		width: 100%;
	}
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 30px;
	background: #fefff9;
	color: #363636;
	text-decoration: none;
	@include box-shadow(rgba(black, 0.19) 0 0 8px 0);
	@include border-radius(4px);
	@include breakpoint(700px, $no-query: true) {
	//switch to 2 columns
		max-width: 320px;
		margin-right: 20px;
		margin-bottom: 20px;
		&:nth-child(even) {
			margin-right: 0;
		}
	}
	@include breakpoint(980px, $no-query: true) {
	//switch to 3 columns
		&:nth-child(even) {
			margin-right: 20px;
		}
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
	span {
		display: block;
	}
	.card-summary {
		padding: 5% 5% 3% 5%;
	}
	.card-header {
		position: relative;
		height: 175px;
		overflow: hidden;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-color: rgba(white,.15);
 		background-blend-mode: overlay;
		@include border-radius(4px 4px 0 0);
		&:hover, &:focus {
			background-color: rgba(white, 0);
		}
	}
	.card-title {
		background: rgba(157, 187, 63, .85);
		padding: 3.5% 0 2.5% 0;
		color: white;
		font-family: 'Roboto Condensed', sans-serif;
		text-transform: uppercase;
		position: absolute;
		bottom: 0;
		width: 100%;
		h3 {
			font-size: 1.2em;
			line-height: 1.2;
			padding: 0 3.5%;
			margin: 0;
		}
	}
	.card-meta {
		max-height: 0;
		overflow: hidden;
		color: #666;
		font-size: .78em;
		text-transform: uppercase;
		position: absolute;
		bottom: 5%;
		padding: 0 5%;
		@include transition-property(max-height);
		@include transition-duration(.4s);
		@include transition-timing-function(ease-in-out);
	}
	&:hover, &:focus {
		background: white;
	  @include box-shadow(rgba(black, 0.45) 0px 0px 20px 0px);
		.card-title {
			background: rgba(157, 187, 63, .95);
		}
		.card-meta {
			max-height: 1em;
		}
	}
}

img {
	max-width: 100%; // stop images from breaking out of their bounding boxes.
}

//General styles for page to make it prettier ;P
body {
	background :#f0f0f0;
	font-size: 17px;
	line-height: 1.4;
	font-family: 'Jaldi', sans-serif;
}

* {
  @include transition-property(
    background-color,
    border-color,
    box-shadow,
    color,
    opacity,
    text-shadow,
    transform
  );
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
}
